<div class="form">
	<instruments-instrument-create (instrumentCreated)="createInstrument($event)"></instruments-instrument-create>
</div>
<hr>
<div class="display">
	<mat-card
			class="list">
		<instruments-instrument-list
			*ngIf="instruments$ | async as instruments"
			[instruments]="instruments"
			(instrumentSelected)="selectInstrument($event)">
		</instruments-instrument-list>
	</mat-card>
	<mat-card class="detail">
		<instruments-instrument-detail
			*ngIf="selectedInstrument$ | async as selectedInstrument"
			[instrument]="selectedInstrument"
			(instrumentUpdated)="updateInstrument($event)"
			(instrumentDeleted)="deleteInstrument($event)">
		</instruments-instrument-detail>
	</mat-card>
</div>
